.contact-container {
    text-align: center;
    background-image: url('https://www.psdgraphics.com/file/basketball-floor-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4vmin;
}
  
.contact-header {
    font-size: 5vmin;
    padding-top: 17vmin;
    padding-bottom: 2vmin;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}
  
.contact-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 5vmin 5vmin 0; 
    position: relative;
    transition: transform 0.3s;
}
  
.contact-icons a:hover {
    transform: scale(1.3);
}
  
.contact-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vmin;
}
  
.contact-names p {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 25vmin;
    margin-right: 25vmin;
    padding-bottom: 10vmin;
}
  
.contact-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vmin;
}
  
.contact-icons img {
    width: 13vmin;
    height: 13vmin;
    margin-bottom: 2vmin;
}
  
.contact-icon p {
    margin-top: 1vmin;
}

.thanks {
    font-weight: bold;
    max-width: 60%;
    font-size: 2.5vmin;
    margin-top: -2vmin;
    opacity: 80%;
    margin-bottom: -2vmin;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.labels {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    font-size: 2vmin;
    font-weight: 400;
}