.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainPage {
  padding: 20px;
}

body {
  margin: 0;
  font-family: Montserrat,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.portolio {
  margin-top: 60px;
}